


body { 
    margin:0; padding: 0;

    background: url(../background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.table    { display: table ; width: 100%; height: 100%;}
.tr       { display: table-row;  }
.td  { display: table-cell; }


#full_touch_body {
    width: 90%;
}

#colorPicker {
    width:10%;
    height: 100%;
    position: absolute;
    right:0;
    top:0;
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

.paletteOption {
    height: 20%;
    width:100%;
    box-sizing:border-box;
    opacity: 0.9;

    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;

    border:0px solid rgba(255,255,255,.8);
}

.paletteOption.white {
    background-color: #ffffff;
}

.paletteOption.red {
    background-color: #e53935;
}

.paletteOption.pink {
    background-color: #E91E63;
}

.paletteOption.blue {
    background-color: #039BE5;
}

.paletteOption.yellow {
    background-color: #FFEB3B;
}

.paletteOption.green {
    background-color: #00E676;
}

.paletteOption.selected {
    border:20px solid rgba(255,255,255,.8);
}

.touch {
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;

    position: absolute;
}


.pixel {
    /* for testing : border: thin solid green; */
    opacity: .5;
}



.pixel.masterTouch {
    opacity: 0.8;
    background-color: white;
}

#master_instructions,
#save_instructions {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    opacity: .8;
    border: thin solid black;
    border-radius: 2em;
    padding: 2em;

    pointer-events: none;
}